<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Flask-Stripe</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {padding-top: 40px;padding-bottom: 40px;background-color: #eee;}
  </style>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
  <div class="container">
	<h2>Thanks, you payed $10.00!</h2>
  	<p class="lead">Thanks. Goodbye. Farewell.</p>
  </div>
</body>
</html>